.dashboard {
  background-color: #efefef;
  margin: 1rem;
  border-radius: 2rem;
}

.dashboard .prompt-cards {
  background-color: #efefef;
}

.dashboard .sidebar {
  background-color: #efefef;
  border-radius: 2rem;
}
