.hero {
  background-color: #cbcbcb;
}

.hero .chat-btn {
  background-color: transparent !important;
  color: #100836 !important;
  border: 2px solid #100836 !important;
  border-radius: 1.875rem;
  text-align: center;
  white-space: normal;
  padding: 7px 20px;

  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    -webkit-box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: normal;
  width: 50%;
}
.img-div-wrapper {
  width: 100%;
  height: 100%;
}

.img-div {
  background-image: url(../../../public/hero-img.webp);
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 100%; */
  height: 100%;
  width: 90%;
  display: block;
  margin: 0 auto;

  background-position: center;

  position: relative;
}
