.testimonials {
  background-color: #3ed71e;
  position: relative;
}

.testimonial-avatar {
  transform: rotate(-5.05deg);
  justify-content: flex-start;
  width: 13rem;
}

.testimonial-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: none;
}
