.what-it-offers-section {
  background-color: #f9fafb;
  padding: 4rem 2rem;
}

.chat-btn {
  background-color: transparent !important;
  color: #100836 !important;
  border: 2px solid #100836 !important;
  border-radius: 1.875rem;
  text-align: center;
  white-space: normal;
  padding: 7px 20px;

  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    -webkit-box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  user-select: none;
  position: relative;
  outline: none;
  border: 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: normal;
  width: 63%;
}
