:root {
}

body {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Sana Sans";
  src: url("../../public/fonts/sana/SanaSans-Variable.woff2")
    format("woff2-variations");
}

/* @font-face {
  font-family: "Sana Sans";
  src: url("../../public/fonts/sana/SanaSerif05-Italic.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Sana Sans";
  src: url("../../public/fonts/sana/SanaSerifTestligatur-Regular.woff2")
    format("woff2-variations");
} */

header {
  background: rgb(255, 255, 255);
  font-family: Sana Sans;
}

header a {
  font-size: 1rem;
}
header nav ul li button {
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
